.to-chat-btn{
    // background: linear-gradient(90deg,rgba(255, 153, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(255, 153, 0, 1) 100%);
    background: white;
    color: black;
    // font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 15px;
    // animation: gradient 3s linear infinite;
    animation: jump .4s linear infinite alternate;
    // box-shadow: 2px 2px 3px 2px orange;
    transition: .3s;
    @include media(500){
        padding: 7px 16px;
    }
    &:hover{
        background: orange;
        animation-play-state: paused;
    }
}

@keyframes jump {
    from{
        // transform: translateY(0px);
        transform: scale(1);
    }
    to{
        // transform: translateY(-8px);
        transform: scale(1.04);
    }
}