$Mulish: ("Bold", 700), ("ExtraBold", 800), ("Regular", 400);

@each $name, $weight in $Mulish {
    @font-face {
        font-family: "Mulish";
        src: url('../fonts/Mulish/Mulish-#{$name}.woff2') format('woff2'),
             url('../fonts/Mulish/Mulish-#{$name}.woff') format('woff'),
             url('../fonts/Mulish/Mulish-#{$name}.ttf') format('truetype');
        font-weight: $weight;
        font-display: swap;
    }
}
